sync-mam.xql
bower_components
/build/old_rita-new-1.0.xar
/tryouts/hansi.xql
/WhoAreYou.rdf
/build/rita-new-1.0.xar
/build/old_rita-new-1.0.xar
/build/schnitzler-tagebuch-1.0.xar
/data/editions/oko.xml
/tryouts/play.xql
/build
sync-asil.xql
/data/*.xpr
/process/delete_idnos.xql
/sync-data.xql
/data/editions/*.xml
/data/indices/*.xml
/data/meta/*.xml
