i {
    cursor:pointer;
}

.reference {
    cursor: pointer;
    color: #037a33;
}

span.data-hr {
    background-color: #ffff00;
}

.card {
    overflow: visible;
}

.unlinked-entity {
    color: #037a33;
}

a {
    color: #037a33;
}

a:not([href]):not([tabindex]) {
    color: #037a33;
    text-decoration: none;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar .navbar-brand {
    padding-right: 0;
}

.navbar .navbar-brand img {
    height: 4rem;
    max-height: unset;
}

#wrapper-hero-content {
    background-position: top;
    padding: 4rem 0;
}

#wrapper-hero-content::after {
    background-color: rgba(2, 121, 51, 0.10);
}

#wrapper-hero-content>#wrapper-hero-inner>p {
    font-size: 1.25rem;
}

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
}

.sticky-navbar {
    z-index: 9999;
}

#srcbuttons {
    margin-bottom:0;
    padding:0.5rem;
}

.rangeslider {
        margin-bottom: 1rem;
}

.btn-link {
        color:#037a33;
        font-size:1.2rem;
    }

.btn-link.quotationbtn {
    color: #037a33;
    padding-top:0;
    text-decoration:none;
} 

.btn-outline-success {
    border-color:#037a33;
    color:#037a33;
}

 .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
}

 #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index:999;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #037a33;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        }
        
        /* Safari */
        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }

.containingloader {
    min-height:500px;
}       

.table td {
    padding:0.5rem;
}

td li {
    list-style-type:none;
}